@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    box-sizing: border-box;
    font-family: Raleway;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #495057;
}

/*--------------------- Inicio Header ---------------------*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(90deg, #003780ff 0%, #2ab2e8ff 100%);
    color: #fff;
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.logo-navbar{
    margin-left: 1%;
    margin-top: 3%;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: 17px;
}

.navbar-links li:hover {
    background-color: #003780ff;
    border-radius: 10px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 40%;
    background-color: white;
    border-radius: 10px;
}

.header-banner-1{
    margin-top: -15px;
    width: 100%;
}

.header-banner-2{
    display: none;
}

header .section-headear {
    width: 60vw;
    margin-left: 1%;
    top: 10vw;
    position: absolute;
    padding: 1.09vw;
}

header .section-headear h1 {
    font-size: 4.6vw;
    line-height: 4.5vw;
    color: #fff;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

header .section-headear p {
    font-size: 1.7vw;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    color: #ffffff;
    line-height: 2.2vw;
    width: 43vw;
    margin-top: 1vw;
    font-weight: bold;
}

header .header-form {
    width: 70%;
    height: 9vw;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    background-image: linear-gradient(90deg, #003780ff 0%, #2ab2e8ff 100%);
    border-radius: 20px;
}

header .header-form form{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-bottom: 20px;
}
/*--------------------- Fim Header ---------------------*/

/*--------------------- Inicio Main ---------------------*/
main{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*--------------------- container-p1 ---------------------*/
.container-p1{
    display: flex;
}

.container-p1 .content-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
}

.container-p1 .content-first h1{
    margin-bottom: 1vw;
    text-align: start;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: semi-bold;
    font-size: 2.5vw;
}

.container-p1 .content-first h3{
    line-height: 160%;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: regular;
}

/*--------------------- container-p2 ---------------------*/
.container-p2 .content-first{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw;
}

.container-p2 .content-first h1{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: 2.5vw;
    line-height: 2.7vw;
    margin-bottom: 0.5vw;
}

.container-p2 .content-first h6{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: 1vw;
    font-weight: 500;
}

.container-p2 .owl-theme{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
}

.container-p2 .owl-theme .swiper-slide{
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    text-align: center;
    padding: 1vw;
    width: 100%;
}

.container-p2 .owl-theme .swiper-slide h1{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: 1.2vw;
}

.container-p2 .owl-theme .swiper-slide p{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.container-p2 .owl-theme .container-p2-btn-carousel{
    background-image: linear-gradient(90deg, #003780ff 0%, #2ab2e8ff 100%);
    border: none;
    border-radius: 10px;
    color: #fff;
    height: 40px;
    width: 150px;
}


/*--------------------- container-p3 ---------------------*/
.container-p3{
    display: flex;
    align-items: center;
    background-image: linear-gradient(109.6deg, #2ab2e8ff 0%, #003780ff 100%);
    border-radius: 0 0 20px 20px;
    position: relative;
    margin-top: 50px;
}

.container-p3-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; 
    height: 100%; 
    background-image: url('./img/predio.svg'); 
    background-size: cover; 
    background-position: center right;
    border-radius: 0 0 20px 20px;
}

.container-p3 .content-first{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    padding: 2vw;
}

.container-p3 .content-first .content{
    padding: 1vw;
    width: 60%;
    margin-right: 1vw;
}

.container-p3 .content-first .content button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    margin-top: 2vw;
    width: 340px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    cursor: pointer;
}

.container-p3 .content-first .content h1{
    line-height: 2.7vw;
    margin-bottom: 2.2vw;
    text-align: start;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: semi-bold;
    font-size: 3vw;
}

.container-p3 .content-first .content h3{
    line-height: 160%;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: normal;
}

.container-p3 .owl-theme{
    width: 37vw;
}

.container-p3 .owl-theme .swiper-slide{
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    width: 100%;
    background-color: #ffffffb2;
    align-items: center;
    border-radius: 1.5vw;
}

.container-p3 .owl-theme .swiper-slide h1{
    margin-bottom: 1vw;
    text-align: center;
    font-size: 4vw;
    color: #003780;
}

.container-p3 .owl-theme .swiper-slide p{
    line-height: 2.5vw;
    text-align: center;
    font-size: 2vw;
    color: #003780;
}

.container-p3 .owl-theme .container-p3-btn-carousel{
    background-image: linear-gradient(90deg, #003780ff 0%, #2ab2e8ff 100%);
    padding: 0.8vw;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 2vw;
}

/*--------------------- container-p4 ---------------------*/
.container-p4{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    position: relative;
    margin-top: 50px;
}

.container-p4 .content-first{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    color: #495057;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    padding: 2vw;
}

.container-p4 .content-first .content{
    padding: 1vw;
    width: 60%;
    margin-left: 3vw;
}

.container-p4 .content-first .content button{
    background-color: transparent;
    border: 2px solid #2AB2E8;
    border-radius: 20px;
    color: #495057;
    margin-top: 2vw;
    width: 340px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    cursor: pointer;
}

.container-p4 .content-first .content h1{
    line-height: 2.7vw;
    margin-bottom: 2.2vw;
    text-align: start;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: semi-bold;
    font-size: 3vw;
}

.container-p4 .content-first .content h3{
    line-height: 160%;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: normal;
}

.container-p4 .owl-theme{
    width: 35vw;
}

.container-p4 .owl-theme .swiper-slide{
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    width: 100%;
    background-color: #ffffffb2;
    align-items: center;
    border-radius: 1.5vw;
}

.container-p4 .owl-theme .swiper-slide h1{
    margin-bottom: 1vw;
    text-align: center;
    font-size: 4vw;
    color: #003780;
}

.container-p4 .owl-theme .swiper-slide p{
    line-height: 2.5vw;
    text-align: center;
    font-size: 2vw;
    color: #003780;
}

.container-p4 .owl-theme .container-p4-btn-carousel{
    background-image: linear-gradient(90deg, #003780ff 0%, #2ab2e8ff 100%);
    padding: 0.8vw;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 2vw;
}

/*--------------------- container-p5 ---------------------*/
.container-p5{
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, #003780ff 0%, #2ab2e8ff 100%);
    border-radius: 0 0 20px 20px;
    position: relative;
    margin-top: 50px;
}

.container-p5-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%; 
    background-image: url('./img/predio-lado-esquerdo.svg'); 
    background-size: cover; 
    background-position: center left;
    transform: scaleX(-1);
    border-radius: 0 0 20px 20px;
}

.container-p5 .content-first{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    padding: 2vw;
    z-index: 1;
}

.container-p5 .content-first .content{
    padding: 1vw;
    width: 60%;
    margin-right: 1vw;
}

.container-p5 .content-first .content button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    margin-top: 2vw;
    width: 340px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    cursor: pointer;
}

.container-p5 .content-first .content h1{
    line-height: 2.7vw;
    margin-bottom: 2.2vw;
    text-align: start;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: semi-bold;
    font-size: 3vw;
}

.container-p5 .content-first .content h3{
    line-height: 160%;
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
    font-weight: normal;
}

.container-p5 .owl-theme{
    width: 37vw;
}

.container-p5 .owl-theme .swiper-slide{
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    width: 100%;
    background-color: #ffffffb2;
    align-items: center;
    border-radius: 1.5vw;
}

.container-p5 .owl-theme .swiper-slide h1{
    margin-bottom: 1vw;
    text-align: center;
    font-size: 4vw;
    color: #003780;
}

.container-p5 .owl-theme .swiper-slide p{
    line-height: 2.5vw;
    text-align: center;
    font-size: 2vw;
    color: #003780;
}

.container-p5 .owl-theme .container-p5-btn-carousel{
    background-image: linear-gradient(90deg, #003780ff 0%, #2ab2e8ff 100%);
    padding: 0.8vw;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 2vw;
}



/*--------------------- container-p6 ---------------------*/

.container-p6{
    background-image: linear-gradient(90deg, #003780ff 0%, #2ab2e8ff 100%);
    color:#fff;
}

.container-p6 .content-first{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw;
}

.container-p6 .content-first h1{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: 2.5vw;
    line-height: 2.7vw;
    margin-bottom: 0.5vw;
}

.container-p6 .content-first h6{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: 1vw;
    font-weight: 500;
}

.container-p6 .owl-theme{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw;
}

.container-p6 .owl-theme .swiper-slide{
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    text-align: left;
    padding: 2vw;
    width: 100%;
    background-color: #fff;
    color: #495057;
}

.container-p6 .swiper-slide .author {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.container-p6 .swiper-slide .author p:first-child {
    font-size: 1.3vw;
    font-weight: 500;
}

.container-p6 .swiper-slide .author p:nth-child(2) {
    font-size: 0.8vw;
    font-weight: 300;
}



.container-p6 .owl-theme .swiper-slide h4{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    font-size: 1.2vw;
    font-style: italic;
    font-weight: 500;
}

.container-p6 .owl-theme .swiper-slide p{
    font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
    
}







/*--------------------- Fim Main ---------------------*/

/*--------------------- Footer ---------------------*/
footer {
    background-image: white;
    display: inline;
    padding: 1rem;
    position: relative;
    bottom: 0; 
    width: 100%;
}

.footer-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-serviços{
    p:nth-child(2) {
        margin-top: 10px;
    }
    p:nth-child(3) {
        margin-top: 10px;
    }
    p:nth-child(4) {
        margin-top: 10px;
    }
    p:nth-child(5) {
        margin-top: 10px;
    }
}

.footer-social {
    line-height: 25px;

    p:nth-child(2) {
        margin-top: 20px;
    };    
}

.footer-grid{
    flex-direction: row;
    display: flex;
    gap: 60px;
    padding: 15px;  
}

/*--------------------- Responsive ---------------------*/
@media screen and (max-width: 1450px){
    header .section-headear {
        top: 12vw;
    }
}

@media screen and (max-width: 1200px){
    .container-p3 .content-first .content button{
        width: 300px;
        height: 50px;
        font-size: 13px;
    }
}

@media screen and (max-width: 1000px) {
    .logo-navbar{
        width: 60%;
    }

    /*--------------------- container-p3 ---------------------*/
    .container-p3 .content-first .content h1{
        line-height: 3.6vw;
        margin-bottom: 2.2vw;
        text-align: start;
        font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
        font-weight: semi-bold;
        font-size: 4vw;
    }

    /*--------------------- container-p3 ---------------------*/
    .container-p5 .content-first .content h1{
        line-height: 3.6vw;
        margin-bottom: 2.2vw;
        text-align: start;
        font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
        font-weight: semi-bold;
        font-size: 4vw;
    }
}

@media (max-width: 800px) {
    /*--------------------- Header ---------------------*/
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        top: 1.1rem;
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    
    .logo-navbar{
        width: 50%;
    }

    /*--------------------- Container-p1 ---------------------*/
    .container-p1 img{
        display: none;
    }

    
 /*--------------------- Container-p2 ---------------------*/
 .container-p2 .owl-theme .swiper-slide{
    padding: 15px;
    width: 100%;
    background-color: #ffffffb2;
    border-radius: 15px;
}

.container-p2 .owl-theme .swiper-slide h1{
    margin-bottom: 10px;
    font-size: 30px;
}

.container-p2 .owl-theme .swiper-slide p{
    line-height: 25px;
    font-size: 17px;
}

.container-p2 .owl-theme .container-p-btn-carousel{
    padding: 10px;
    margin-top: 22px;
    width: 300px;
    height: 40px;
    font-size: 13px;
}

    /*--------------------- Container-p3 ---------------------*/
    .container-p3 .content-first{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
    }

    .container-p3-img {
        display: none;
    }

    .container-p3 .content-first .content{
        padding: 1vw;
        width: 90%;
        margin-right: 0;
    }

    .container-p3 .content-first .content button{
        width: 300px;
        height: 50px;
        font-size: 13px;
    }

    .container-p3 img{
        width: 80%;
        margin-left: auto;
    }
    
    .container-p3 .content-first .content{
        margin-bottom: 8vw;
    }

    .container-p3 .content-first .content h1{
        text-align: center;
        line-height: 40px;
        font-size: 35px;
    }

    .container-p3 .content-first .content p{
        font-size: 17px;
        line-height: 28px;
    }

    .container-p3 .owl-theme{
        width: 500px;
    }

    .container-p3 .owl-theme .swiper-slide{
        padding: 15px;
        width: 100%;
        background-color: #ffffffb2;
        border-radius: 15px;
    }

    .container-p3 .owl-theme .swiper-slide h1{
        margin-bottom: 10px;
        font-size: 40px;
    }
    
    .container-p3 .owl-theme .swiper-slide p{
        line-height: 25px;
        font-size: 17px;
    }

    .container-p3 .owl-theme .container-p3-btn-carousel{
        padding: 10px;
        margin-top: 22px;
        width: 300px;
        height: 40px;
        font-size: 13px;
    }

    /*--------------------- Container-p4 ---------------------*/
    .container-p4 .content-first{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column-reverse;
        text-align: center;
    }

    .container-p4-img {
        display: none;
    }

    .container-p4 .content-first .content{
        padding: 1vw;
        width: 90%;
        margin-left: 0;
    }

    .container-p4 .content-first .content button{
        width: 300px;
        height: 50px;
        font-size: 13px;
    }

    .container-p4 img{
        width: 80%;
        margin-left: auto;
    }
    
    .container-p4 .content-first .content{
        margin-bottom: 8vw;
    }

    .container-p4 .content-first .content h1{
        text-align: center;
        line-height: 40px;
        font-size: 35px;
    }

    .container-p4 .content-first .content p{
        font-size: 17px;
        line-height: 28px;
    }

    .container-p4 .owl-theme{
        width: 500px;
    }

    .container-p4 .owl-theme .swiper-slide{
        padding: 15px;
        width: 100%;
        background-color: #ffffffb2;
        border-radius: 15px;
    }

    .container-p4 .owl-theme .swiper-slide h1{
        margin-bottom: 10px;
        font-size: 40px;
    }
    
    .container-p4 .owl-theme .swiper-slide p{
        line-height: 25px;
        font-size: 17px;
    }

    .container-p4 .owl-theme .container-p4-btn-carousel{
        padding: 10px;
        margin-top: 22px;
        width: 300px;
        height: 40px;
        font-size: 13px;
    }

    /*--------------------- Container-p5 ---------------------*/
    .container-p5 .content-first{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
    }

    .container-p5-img {
        display: none;
    }

    .container-p5 .content-first .content{
        padding: 1vw;
        width: 90%;
        margin-right: 0;
    }

    .container-p5 .content-first .content button{
        width: 300px;
        height: 50px;
        font-size: 13px;
    }

    .container-p5 img{
        width: 80%;
        margin-left: auto;
    }
    
    .container-p5 .content-first .content{
        margin-bottom: 8vw;
    }

    .container-p5 .content-first .content h1{
        text-align: center;
        line-height: 40px;
        font-size: 35px;
    }

    .container-p5 .content-first .content p{
        font-size: 17px;
        line-height: 28px;
    }

    .container-p5 .owl-theme{
        width: 500px;
    }
    
    .container-p5 .owl-theme .swiper-slide{
        padding: 15px;
        width: 100%;
        background-color: #ffffffb2;
        border-radius: 15px;
    }

    .container-p5 .owl-theme .swiper-slide h1{
        margin-bottom: 10px;
        font-size: 40px;
    }
    
    .container-p5 .owl-theme .swiper-slide p{
        line-height: 25px;
        font-size: 17px;
    }

    .container-p5 .owl-theme .container-p5-btn-carousel{
        padding: 10px;
        margin-top: 22px;
        width: 300px;
        height: 40px;
        font-size: 13px;
    }
    
}

@media screen and (max-width: 700px) {
    /*--------------------- Header ---------------------*/
    header .section-headear {
        width: 70vw;
        margin-left: 4%;
        top: 15vw;
    }
    
    header .section-headear h1 {
        font-size: 5.6vw;
        line-height: 6vw;
    }
    
    header .section-headear p {
        font-size: 2.7vw;
        line-height: 4.2vw;
        width: 100%;
    }

    /*--------------------- Container-p1 ---------------------*/
    .container-p1 img{
        display: none;
    }

    .container-p1 .content-first h1{
        align-text: center;
        font-size: 6vw;
        margin-bottom: 6vw;
        padding: 0 2vw 0 2vw;   
    }
    
    .container-p1 .content-first h3{
        padding: 0 2vw 0 2vw;
        align-text: center;
        margin-bottom: 6vw;
        
    }

    /*--------------------- Container-p2 ---------------------*/
    .container-p2 .content-first h1{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .container-p2 .content-first h6{
        font-size: 20px;
        margin-bottom: 5vw;
        line-height: 25px;
    }  

    .container-p2 .owl-theme .swiper-slide h1{
        font-size: 30px;
    }
    
    .container-p2 .owl-theme .swiper-slide p{
        line-height: 20px;
        font-size: 13px;
    }
    
    .container-p2 .owl-theme .container-p2-btn-carousel{
        padding: 10px;
        margin-top: 20px;
        width: 70%;
        height: 40px;
        font-size: 13px;
    }
    
}

@media screen and (max-width: 600px) {
    /*--------------------- Header ---------------------*/
    .toggle-button {
        top: 1.1rem;
    }

    .header-banner-1{
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    header .section-headear {
        top: 20vw;
        width: 90%;
    }

    header .section-headear h1 {
        font-size: 9vw;
        line-height: 9vw;
    }
    
    header .section-headear p {
        font-size: 3.9vw;
        line-height: 5vw;
        width: 100%;
        margin-top: 20px;
    }

    /*--------------------- Container-p1 ---------------------*/
    .container-p1 img{
        display: none;
    }
   
}

@media screen and (max-width: 500px) {
    /*--------------------- Header ---------------------*/
    .logo-navbar{
        width: 40%;
    }

    .toggle-button {
        top: 0.99rem;
    }

    header .section-headear {
        top: 90px;
    }

    header .section-headear h1 {
        font-size: 50px;
        line-height: 47px;
    }
    
    header .section-headear p {
        line-height: 22px;
    }
    
    /*--------------------- container-p1 ---------------------*/
    .container-p1 img{
        display: none;
    }

    /*--------------------- container-p3 ---------------------*/
    .container-p3 .content-first .content button{
        width: 280px;
        height: 50px;
        font-size: 12px;
        margin-top: 15px;
    }

    .container-p3 .owl-theme{
        width: 300px;
    }
    
    .container-p3 .owl-theme .swiper-slide{
        padding: 15px;
        width: 100%;
        background-color: #ffffffb2;
        border-radius: 15px;
    }
    
    .container-p3 .owl-theme .swiper-slide h1{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .container-p3 .owl-theme .swiper-slide p{
        line-height: 25px;
        font-size: 15px;
    }
    
    .container-p3 .owl-theme .container-p3-btn-carousel{
        padding: 10px;
        margin-top: 22px;
        width: 200px;
        height: 40px;
        font-size: 13px;
    }

    /*--------------------- container-p4 ---------------------*/
    .container-p4 .content-first .content button{
        width: 280px;
        height: 50px;
        font-size: 12px;
        margin-top: 15px;
    }

    .container-p4 .owl-theme{
        width: 300px;
    }
    
    .container-p4 .owl-theme .swiper-slide{
        padding: 15px;
        width: 100%;
        background-color: #ffffffb2;
        border-radius: 15px;
    }
    
    .container-p4 .owl-theme .swiper-slide h1{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .container-p4 .owl-theme .swiper-slide p{
        line-height: 25px;
        font-size: 15px;
    }
    
    .container-p4 .owl-theme .container-p4-btn-carousel{
        padding: 10px;
        margin-top: 22px;
        width: 200px;
        height: 40px;
        font-size: 13px;
    }

    /*--------------------- container-p5 ---------------------*/
    .container-p5 .content-first .content button{
        width: 280px;
        height: 50px;
        font-size: 12px;
        margin-top: 15px;
    }

    .container-p5 .owl-theme{
        width: 300px;
    }
    
    .container-p5 .owl-theme .swiper-slide{
        padding: 15px;
        width: 100%;
        background-color: #ffffffb2;
        border-radius: 15px;
    }
    
    .container-p5 .owl-theme .swiper-slide h1{
        margin-bottom: 10px;
        font-size: 30px;
    }
    
    .container-p5 .owl-theme .swiper-slide p{
        line-height: 25px;
        font-size: 15px;
    }
    
    .container-p5 .owl-theme .container-p5-btn-carousel{
        padding: 10px;
        margin-top: 22px;
        width: 200px;
        height: 40px;
        font-size: 13px;
    }


    /*--------------------- Footer ---------------------*/
    .footer-grid{
        flex-direction: column;
        display: flex;
        gap: 30px;
    }
}

@media screen and (max-width: 400px) {
    /*--------------------- Header ---------------------*/
    header .section-headear {
        width: 95%;
        margin-left: 2%;
        top: 22vw;
    }
    
    header .section-headear h1 {
        font-size: 14vw;
        line-height: 14vw;
    }
    
    header .section-headear p {
        font-size: 5.5vw;
        line-height: 6.8vw;
        color: #fff;
        margin-top: 6vw;
    }

    /*--------------------- container-p1 ---------------------*/
    .container-p1 img{
        display: none;
    }

    /*--------------------- Container-p2 ---------------------*/
    .container-p2 .content-first h1{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .container-p2 .content-first h6{
        font-size: 20px;
        margin-bottom: 5vw;
    }

    /*--------------------- container-p3 ---------------------*/
    .container-p3 .content-first .content button{
        width: 100%;
        height: 50px;
    }

    /*--------------------- container-p4 ---------------------*/
    .container-p4 .content-first .content button{
        width: 100%;
        height: 50px;
    }

    /*--------------------- container-p5 ---------------------*/
    .container-p5 .content-first .content button{
        width: 100%;
        height: 50px;
    }
}
